{% extends 'mensajes/base.html' %}

{% block header_title %}Lista de Mensajes{% endblock %}

{% block header_description %}Aquí puedes ver los mensajes enviados y recibidos.{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Mensajes</h1>
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Remitente</th>
                <th>Destinatario</th>
                <th>Mensaje</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ mensaje.remitente }}</td>
                <td>{{ mensaje.destinatario}}</td>
                <td>{{ mensaje.texto }}</td>
                <td>{{ mensaje.fecha_hora|date:"d/m/Y" }}</td>
                <td>{{ mensaje.fecha_hora|date:"H:i"}}</td>
                <td>
                    <form method="POST" action="{% url 'mensajes:mensaje_delete' mensaje.id %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
    <a href="{% url 'mensajes:index' %}" class="btn btn-primary btn-lg">Volver</a>
</div>
{% endblock %}